.container {
  max-width: 360px;
  width: auto;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 460px) {
  .container {
    max-width: 100%;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1040px) {
  .container {
    max-width: 1040px;
    padding: 0 40px;
  }
}

html {
  --background: #121212;
  --main: #ffffff;
  --borders: #653409;
  --background-secodary: #1е1а17;
  --transparent: #ffffff1a;
  --title: 'Taviraj', serif;
  --text: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--main);
  font-family: var(--text);
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body * {
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  padding: 24px 0;
}

#materialtype {
  padding-top: 32px;
}

#calculated {
  padding-bottom: 32px;
}

@media only screen and (min-width: 1040px) {
  .section {
    padding: 48px 0;
  }

  #materialtype {
    padding-top: 40px;
  }

  #calculated {
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 24px;
  font-family: var(--title);
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  letter-spacing: -0.004em;
}

.field-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 14px;
  padding: 0;
  margin: 0;
  border: none;
}

@media only screen and (min-width: 1040px) {
  .field-grid {
    gap: 24px;
  }
}

/* Note: some fields on design are leaking from the container,
so they can look somewhat off on the site*/
.option {
  width: 157px;
  display: flex;
  flex-direction: column;

  border-radius: 4.13px;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  height: fit-content;
}

.option:hover,
.option:focus {
  background-color: #ffffff10;
}

@media only screen and (min-width: 1040px) {
  .option {
    width: 222px;
    border-radius: 8px;
  }
}

.option:has(input[type='radio']:checked) {
  background-color: var(--transparent);
}

input[type='radio'] {
  display: none;
}

.option-image {
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5.66px;
  transition: all 250ms ease-in-out;
}

@media only screen and (min-width: 1040px) {
  .option-image {
    border-radius: 8px;
    margin-bottom: 8px;
    width: 222px;
    height: 222px;
  }
}

.option-label-container {
  display: flex;
  padding: 5.66px;
  align-items: center;
  gap: 8px;
  transition: all 250ms ease-in-out;
}

.option-label {
  font-size: 12px;
  line-height: 14px;
}

@media only screen and (min-width: 1040px) {
  .option-label-container {
    padding: 8px;
  }

  .option-label {
    font-size: 18px;
    line-height: 22px;
  }
}

.check-icon-container {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 250ms ease-in-out;
}

.option:has(input[type='radio']:checked) .check-icon-container {
  background-color: #653409;
  border: none;
}

.check-icon {
  display: none;
  width: 12px;
  height: 12px;
  fill: #ffffff;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
}

@media only screen and (min-width: 1040px) {
  .check-icon-container {
    width: 16px;
    height: 16px;
  }

  .check-icon {
    width: 8px;
    height: 8px;
  }
}

.option:has(input[type='radio']:checked) .check-icon {
  display: block;
}

@media screen and (max-width: 1039px) {
  .option:has(input[type='radio']:checked) .option-label-container {
    transform: translateY(-2px);
  }
}

/* Numbered list style counter */
#form {
  counter-reset: step;
}

.section {
  counter-increment: step;
}

.section:has(input) h2::before {
  content: counter(step) '.';
  margin-right: 8px;
}

.section:has(.section-descr) h2 {
  margin-bottom: 8px;
}

.section-descr {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}

#dynamic-fields {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#summary-table {
  width: 100%;
}

#summary tr {
  display: flex;
  border-bottom: 1px solid var(--transparent);
}

#summary tr:last-child {
  border-bottom: none;
}

.summary-label {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 50%;
  border-right: 1px solid var(--transparent);
  font-size: 18px;
  line-height: 22px;
  flex-shrink: 0;
}

@media only screen and (min-width: 1040px) {
  .summary-label {
    width: 270px;
    padding: 12px 16px;
  }

  .summary-value {
    width: 100%;
  }
}

.summary-value {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  width: 50%;
  font-size: 18px;
  line-height: 22px;
  flex-grow: 1;
}

.calculated-panel {
  background-color: var(--transparent);
  padding: 16px;
  border-radius: 8px;
}

#calculated-value {
  padding-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: end;
  letter-spacing: 0.02em;
  border-top: 1px solid var(--transparent);
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.area-number {
  width: 100%;
  padding: 6px 40px;
  border: 2px solid var(--borders);
  border-radius: 8px;
  background-color: #111111;
  font-family: 'Taviraj';
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1040px) {
  .area-number {
    max-width: 101px;
    text-align: center;
    padding: 6px;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

.number-option-label {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.range-option-label {
  display: flex;
  justify-content: space-between;
  font-family: 'Taviraj';
  font-size: 18px;
  line-height: 31px;
}

.range-input-container {
  position: relative;
}

.range-popup {
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translateX(-50%);
  background: var(--borders);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 10;
  margin-bottom: 4px;
  white-space: nowrap;
  box-shadow: 0px 0px 1px 0px #0000004d, 0px 2px 30px 0px #00000014,
    0px 0px 15px 0px #00000008;
}

.range-popup::after {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: var(--borders);
  z-index: -1;
}

input[type='range'] {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
  padding: 0;
  margin: 0;
}

/* Thumb */
input[type='range']::-webkit-slider-thumb {
  padding: 0;
  margin-top: -6px;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid var(--borders);
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid var(--borders);
}

/* Track*/
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: none;
  padding: 0;
  margin: 0 !important;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
}

input[type='range']::-moz-range-progress {
  background: none;
  height: 4px;
  border: none;
}

.slider-fill {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 4px;
  transform: translateY(-50%);
  background: linear-gradient(
    90deg,
    var(--borders) 0%,
    var(--borders) var(--percent),
    transparent var(--percent),
    transparent 100%
  );

  pointer-events: none;
  border-radius: 4px;
  --percent: 50%;
  z-index: 1;
}

.slider-background {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 0px;
  transform: translateY(-50%);
  border: 2px dashed rgba(0, 0, 0, 0.1);
  background: #d4d4d880;
  pointer-events: none;
  border-radius: 4px;
  z-index: -1;
} /* Forventet pris for din terrasse: */

.calculated-title {
  padding-bottom: 12px;
  font-family: var(--title);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  letter-spacing: -0.005em;
  border-bottom: 1px solid var(--transparent);
}

.check-icon-summary {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #653409;
  border: none;
}

.check-icon-summary .check-icon {
  display: block;
}

@media only screen and (min-width: 1040px) {
  .calculated-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #calculated-value {
    padding: 0;
    border: none;
  }

  .calculated-title {
    padding: 0;
    border: none;
  }
  #calculated {
    padding-top: 0;
  }
}

.animated {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.animated.visible {
  transform: translateY(0);
  opacity: 1;
}

#form section + section {
  border-bottom: 1px solid var(--transparent);
  border-top: 1px solid var(--transparent);
}
