@import "tailwindcss";

@theme inline {
    --breakpoint-xs: 27rem;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-brown: #603208;
    --color-beige: #ffc189;

    --font-montserrat: var(--font-montserrat), sans-serif;
    --font-find-sans-pro: var(--font-find-sans-pro), sans-serif;
}

@layer base {
    :root:has(.no-doc-scroll) {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    body {
        background: var(--color-black);
        color: var(--color-white);
        font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        display: block;
        max-width: 100%;
    }

    ul {
        list-style: none;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    .text-shadow-white {
        text-shadow:
            0px 2px 15px var(--color-white),
            0px -2px 15px var(--color-white);
    }

    .hover\:text-shadow-white {
        text-shadow: none;
        transition: text-shadow 300ms ease-in-out;
    }

    .hover\:text-shadow-white:hover {
        text-shadow:
            0px 2px 15px var(--color-white),
            0px -2px 15px var(--color-white);
    }

    .svg-shadow-white {
        filter: drop-shadow(0px 2px 5px var(--color-white))
            drop-shadow(0px -2px 5px var(--color-white));
    }

    .hover\:svg-shadow-white {
        filter: none;
        transition: filter 300ms ease-in-out;
    }

    button:hover .hover\:svg-shadow-white,
    .hover\:svg-shadow-white:hover {
        filter: drop-shadow(3px 2px 5px var(--color-white))
            drop-shadow(-3px -2px 5px var(--color-white));
    }
}
