@import "tailwindcss";

@theme inline {
  --breakpoint-xs: 27rem;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown: #603208;
  --color-gradient-brown-dark: #6d3a0b;
  --color-beige: #ffc189;

  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-find-sans-pro: var(--font-find-sans-pro), sans-serif;
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .text-shadow-white {
    text-shadow: none;
    transition: text-shadow 300ms ease-in-out;
    @media screen and (min-width: 1024px) {
      &:hover {
        text-shadow:
          0px 2px 15px var(--color-white),
          0px -2px 15px var(--color-white);
      }
      &:focus-visible {
        text-shadow:
          0px 2px 15px var(--color-white),
          0px -2px 15px var(--color-white);
      }
    }
  }

  .svg-shadow-white {
    filter: none;
    transition: filter 300ms ease-in-out;
    @media screen and (min-width: 1024px) {
      &:hover {
        filter: drop-shadow(3px 2px 5px var(--color-white))
          drop-shadow(-3px -2px 5px var(--color-white));
      }
      &:focus-visible {
        filter: drop-shadow(3px 2px 5px var(--color-white))
          drop-shadow(-3px -2px 5px var(--color-white));
      }
    }
  }

  .button-shadow-white {
    filter: none;
    transition: filter 300ms ease-in-out;

    @media screen and (min-width: 1024px) {
      &:enabled:hover {
        filter: drop-shadow(3px 2px 5px rgba(255, 255, 255, 0.4))
          drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.4));
      }

      &:enabled:focus-visible {
        filter: drop-shadow(3px 2px 5px rgba(255, 255, 255, 0.4))
          drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.4));
      }
    }
  }

  .shadow-white-universal {
    filter: none;
    transition: filter 300ms ease-in-out;

    @media screen and (min-width: 1024px) {
      &:hover {
        filter: drop-shadow(3px 2px 5px rgba(255, 255, 255, 0.4))
          drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.4));
      }

      &:focus-visible {
        filter: drop-shadow(3px 2px 5px rgba(255, 255, 255, 0.4))
          drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.4));
      }
    }
  }

  /* Swiper */

  .swiper.materials-slider {
    padding: 0px 0px 94px 0px !important;

    @media screen and (min-width: 1024px) {
      padding: 0px 3px 78px 0px !important;
    }
  }

  .swiper-slide {
    flex-grow: 1 0;
    height: auto !important;
  }

  .materials-slider .swiper-slide {
    width: 328px !important;

    @media screen and (min-width: 1024px) {
      width: 687px !important;
      height: 230px !important;
    }
  }

  .swiper-button-prev {
    width: 54px !important;
    height: 54px !important;
    z-index: 20 !important;
    border: 1.5px solid var(--color-white);
    transition: filter 300ms ease-in-out;
    top: calc(100% - 30px) !important;
    border-radius: 9999px;
    background-color: var(--color-white);

    @media screen and (min-width: 1024px) {
      top: calc(100% - 34px) !important;
    }

    @media screen and (min-width: 1280px) {
      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  .swiper-button-disabled {
    background-color: transparent !important;
  }

  .materials-slider .swiper-button-prev {
    left: 0px !important;

    @media screen and (min-width: 640px) {
      left: calc(50dvw - 88px - 20px - (100vw - 640px) / 2) !important;
    }

    @media screen and (min-width: 768px) {
      left: calc(50dvw - 88px - 20px - (100vw - 768px) / 2) !important;
    }

    @media screen and (min-width: 1024px) {
      left: calc(50dvw - 112px - 50px - (100vw - 1024px) / 2) !important;
    }

    @media screen and (min-width: 1280px) {
      left: calc(50% - 112px) !important;
    }
  }
}
